## BOARD PINS
[board_pins EBB36_G0B1_v1.2] 
mcu: can0
aliases:
aliases_step:
    EXT_EN=PD2,EXT_STEP=PD0,EXT_DIR=PD1,EXT_UART=PA15
aliases_limitsw: # these are preferred for endstops (including klicky)
    LIMIT_1=PB7,LIMIT_2=PB5,LIMIT_3=PB6
aliases_bltouch: # these are the dupont connectors for bltouch
    PROBE_1=PB9,PROBE_2=PB8
aliases_fans:
    FAN0=PA1,FAN1=PA0
aliases_thermistors:
    TH0=PA3,PT100_CS=PA4,PT100_SCLK=PA5,PT100_MISO=PA6,PT100_MOSI=PA7
aliases_heaters:
    HE0=PB13
aliases_rgb:
    RGBLED=PD3
aliases_adxl:
    ADXL_CS=PB12,ADXL_SCLK=PB10,ADXL_MISO=PB2,ADXL_MOSI=PB11
aliases_i2c:
    AUX0=PB3,AUX1=PB4


## can0
[mcu can0]
canbus_uuid: 9ccc7e539d0e #cbcdb742a0c4 #9ccc7e539d0e #cbcdb742a0c4 #
#canbus_uuid: b8d3c5c6f0d8 #b128b1d52cba #9b607c435307 # run the following command to locate the uuid >   ~/klippy-env/bin/python ~/klipper/scripts/canbus_query.py can0

## can0
[temperature_sensor Ebb36]
sensor_type: temperature_mcu
sensor_mcu: can0

## HOT END FAN
[heater_fan hotend_fan]
##  Hotend Fan - FAN1
pin: can0:FAN1
max_power: 1
kick_start_time: 0.5
heater: extruder
heater_temp: 50.0
fan_speed: 1
#tachometer_ppr: 2
tachometer_pin: ^can0:PB6
tachometer_poll_interval: 0.0005

# PART COOLING
[fan]
pin: can0:FAN0
kick_start_time: 0.100
cycle_time: 0.01
off_below: 0.01

## PART COOLING CPAP
#[fan]
#pin: PG9 # for ocotopus pro Endstop 7 header
#max_power: 1 # adjust below 1 if you would like the max speed to be slower
#off_below: 0.09 # minimum speed where the fan starts spinning - on octopus pro this is correct - will be lower maybe 0 on mellow Super 8 because of different GPIO pullup and protection resistors
#cycle_time: .0005 # = 2khz - CPAP fan driver recommended range is 2-50khz

# RGB
[neopixel my_neopixel]
pin: can0:RGBLED
chain_count: 3
#color_order: GRB, GRB, GRB, GRB, GRB, GRB, GRB, GRB
color_order: GRBW,GRBW,GRBW
initial_RED: 0.45
initial_GREEN: 0
initial_BLUE: 0

## PT100
# [temperature_sensor PT100]
# sensor_type: MAX31865
# sensor_pin: can0:PT100_CS
# spi_bus: spi1
# min_temp: -50
# max_temp: 350
# rtd_reference_r: 430



